./.git
.DS_Store
data/job7r4A067.format.xml
.ipynb_checkpoints/02 - xml Input-checkpoint.ipynb
.ipynb_checkpoints/03 - json Input-checkpoint.ipynb
.ipynb_checkpoints/01 - Cluster Size Distribution-checkpoint.ipynb
.ipynb_checkpoints/03 - json Input Raw Data-checkpoint.ipynb
.ipynb_checkpoints/04 - json Input Prepared Data-checkpoint.ipynb
data/job7r4A162.json
data/job7r4A1.json
.ipynb_checkpoints
documentation/field_description.xlsx
documentation/field_description.xlsx
documentation/field_description.xlsx
documentation/field_description.xlsx
results/Oldies_20200315.zip
__pycache__
venv

